<!DOCTYPE html>
<html lang="en">
<head>
  <title>kkeilholtz Webpage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/web.css">
  <script src="/web.js" type="module" async></script>
</head>
<body>
  <main>
    <header>
      <h1 class="headText">Kohl Keilholtz- The Night of No Moon</a></h1>
      <nav>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/book">Book</a></li>
          <li><a href="/about">About</a></li>
          <li><button id="darkButton" onclick="DarkFunc()" type="button">Dark Mode</button></li>
        </ul>
      </nav>
    </header>