.dark {
  background-color: black;
  color: white;
}

.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.head {
    text-align: center;
}

.main {
  text-align: center;
}

table, th, td {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 2px solid;
}