<%- include('../shared/header.ejs') %>

<p>Find the git repo below for this project</p>
<a href="https://github.com/it-sd-sqc/sqc-project-kkeilhotlz.git">Git Repo</a>

<%- include('../shared/footer.ejs') %>